* {
margin: 0;
padding: 0;
}

html {
background: #000 url(bilder/hintergrund-kabel.gif) repeat-x;
color: #FFF;
font: 100%/1.1 'courier new', courier, monospace;
}

h1, h2 {
font-size: 2.5em;
font-weight: normal;
}

h1 {
background: url(bilder/hintergrund-kabelende.gif) right no-repeat;
color: #000;
height: 133px; /* nur IE 5.x */
height/**/:/**/ 113px;
padding: 10px;
}

h1 span {
text-decoration: blink;
}

h2, p, div {
margin-left: 235px;
width: 350px;
}

h2 {
line-height: .8;
padding-bottom: .5em;
}

p:first-letter {
float: left;
font-size: 2.5em;
padding-right: .4em;
}

div {
padding: 1em 0;
}

a {
color: #25DA18;
}

a:visited {
color: #1CA612;
}

a:focus, a:hover {
color: #2BFF1C;
}